/* /src/components/About.css */
.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
  }
  
  .profile-img {
    width: 150px;
    border-radius: 50%;
    margin-right: 20px;
  }
  